body {
  margin : 0;
  padding: 0;
}


.randomizer {
  padding       : 2rem 0;
  font-size     : 1.5rem;
  color         : aliceblue;
  display       : flex;
  flex-direction: column;
  flex-wrap     : wrap;
  align-items   : center;
  align-content : center;

  .stats {}

  .spinner {
    transform: scale(1.5) translateY(5rem);

  }

  .map {
    position: relative;

    &__regular {
      max-height: 80vh;
      max-width : 80vw;
    }
  }

  .btn-container {
    transform: translateY(5rem);
  }
}
